.s-hero-post {
    background-color: var(--purple-50);
    padding: 8rem 0;
    .container {
        @include flex(row, flex-start, space-between);
        .left-container {
            flex: 1;
            max-width: 72.8rem;
            .title {
                margin-bottom: 4.8rem;
                h2 {
                    margin-top: 0.8rem;
                }
            }
        }
        .right-container {
            flex: 1;
            max-width: 38.4rem;
            margin-top: 4rem;
            .all {
                margin-top: 4.8rem;
                .item-post {
                    position: relative;
                    &:not(:last-child) {
                        padding-bottom: 3.2rem;
                        margin-bottom: 3.2rem;
                        border-bottom: 1px solid var(--purple-100);
                    }
                }
            }
        }
    }
    @include responsive ('laptop') {
        .container {
            display: grid;
            grid-template-columns: 1fr 35rem;
            grid-gap: 3rem;
        }
    }
    @include responsive ('tabletMd') {
        padding: 5rem 0;
        .container {
            grid-template-columns: 1fr;
            grid-gap: 4rem;
            .left-container {
                .title {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    margin-bottom: 4rem;
                }
                .info {
                    h3 {
                        max-width: 100%;
                        text-align: center;
                    }
                }
            }
            .right-container {
                max-width: 100%;
                h4 {
                    text-align: center;
                }
            }
        }
    }
    @include responsive ('mobile') {
        padding: 4rem 0;
        .container {
            grid-gap: 0;
            .left-container {
                border-bottom: 1px solid rgba(0,0,0,.1);
                padding-bottom: 4rem;
                .title {
                    margin-bottom: 3rem;
                    h2 {
                        margin-top: 1.4rem;
                    }
                }
            }
            .right-container {
                .all {
                    margin-top: 3rem;
                    .item-post {
                        &:not(:last-child) {
                            padding-bottom: 2rem;
                            margin-bottom: 2rem;
                        }
                    }
                }
            }
        }
    }
}

.sephr {
    .container {
        hr {
            margin: 0;
            border: 0;
            border-bottom: 1px solid var(--gray-200);
        }
    }
}

.s-news {
    padding: 6.4rem 0;
    .container {
        @include flex(row, center, space-between);
        .title {
            @include flex-center;
            width: 100%;
            max-width: 47.6rem;
            gap: 3.2rem;
            h6 {
                font-weight: 400;
                color: var(--gray-800);
            }
        }
        .form {
            .newsletter-rankdone {
                display: flex;
                align-items: flex-start;
                gap: 0.8rem;
                .fields {
                    width: 100%;
                    max-width: 42.7rem;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    .inputs {
                        display: flex;
                        input {
                            flex: 1;
                            height: 4.1rem;
                            border-radius: 0.4rem;
                            border: 1px solid var(--gray-400);
                            color: var(--black);
                            font-size: 1.4rem;
                            padding: 1rem 1.2rem;
                            transition: all .3s ease;
                            font-family: var(--font-title);
                            font-weight: normal;
                            outline: none;
                            &::placeholder {
                                color: rgb(151, 155, 166, .5);
                                font-weight: 400;
                            }
                              &:focus {
                                border: 1px solid var(--purple-800);
                            }
                            &:nth-child(2) {
                                margin-left: 0.8rem;
                            }
                        }
                    }
                    .ad {
                        font-size: 1.4rem;
                        color: var(--gray-700);
                    }
                }
                button {
                    padding: 12px 1rem;
                    font-size: 1.4rem;
                    background-color: var(--purple-700);
                    border-radius: 0.4rem;
                    color: var(--white);
                    transition: background .3s ease;
                    &:hover {
                        background-color: var(--purple-500);
                    }
                }
            }
        }
    }
}

.s-all-posts {
    padding: 6.4rem 0;
    .container {
        .top-info {
            @include flex(row, flex-end, space-between);
            margin-bottom: 6.4rem;
            h2 {
                font-size: 4rem;
            }
            a {
                font-weight: 500;
                font-size: 1.6rem;
                text-decoration: underline;
                color: var(--purple-800);
                transition: color .3s ease;
                &:hover {
                    color: var(--purple-500);
                }
            }
        }
        .all {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3.2rem;
            margin-bottom: 6.4rem;
        }
        .btn-primary {
            margin: 0 auto;
            display: table;
        }
    }
    @include responsive('laptop') {
        padding: 5.6rem 0;
        .container {
            .all {
                margin-bottom: 4rem;
                gap: 2rem;
            }
        }
    }

    @include responsive ('tablet') {
        .container {
            .all {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
    @include responsive ('tabletMd') {
        padding: 5rem 0;
    }
    @include responsive ('mobile') {
        padding: 4rem 0;
        .container {
            .top-info {
                flex-direction: column;
                align-items: center;
                h2 {
                    margin-bottom: 2rem;
                }
            }
            .all {
                grid-template-columns: 1fr;
                gap: 3.2rem;
            }
            .btn-primary {
                width: 95%;
                font-size: 1.8rem;
                line-height: 6.2rem;
            }
        }
    }
}

.s-know {
    padding: 12rem 0;
    position: relative;
    background-color: var(--purple-50);
    &::after {
        content: "";
        width: 10.1rem;
        height: 2.6rem;
        position: absolute;
        top: -0.1rem;
        left: 50%;
        transform: translateX(-50%);
        background: url("../assets/divider.svg") no-repeat center center;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left-area {
            width: 100%;
            max-width: 52rem;
            h2 {
                font-size: 4rem;
                margin-bottom: 1.6rem;
            }
            h4 {
                color: var(--gray-800);
                margin-bottom: 2.4rem;
            }
            p {
                font-size: 1.4rem;
                color: var(--gray-700);
                margin-bottom: 2.4rem;
            }
        }
        .right-area {
            .image {
                width: 100%;
                max-width: 52rem;
                overflow: hidden;
                border-radius: 0.8rem;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}