.s-hero-post {
    background-color: var(--purple-50);
    padding: 8rem 0;
    .container {
        @include flex(row, flex-start, space-between);
        .left-container {
            flex: 1;
            max-width: 72.8rem;
            .title {
                margin-bottom: 4.8rem;
                h2 {
                    margin-top: 0.8rem;
                }
            }
        }
        .right-container {
            flex: 1;
            max-width: 38.4rem;
            margin-top: 4rem;
            .all {
                margin-top: 4.8rem;
                .item-post {
                    position: relative;
                    &:not(:last-child) {
                        padding-bottom: 3.2rem;
                        margin-bottom: 3.2rem;
                        border-bottom: 1px solid var(--purple-100);
                    }
                }
            }
        }
    }
}

.s-news {
    padding: 6.4rem 0;
    .container {
        @include flex(row, center, space-between);
        .title {
            @include flex-center;
            width: 100%;
            max-width: 47.6rem;
            gap: 3.2rem;
            h6 {
                font-weight: 400;
                color: var(--gray-800);
            }
        }
        .form {
            .newsletter-rankdone {
                display: flex;
                align-items: flex-start;
                gap: 0.8rem;
                .fields {
                    width: 100%;
                    max-width: 42.7rem;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    .inputs {
                        display: flex;
                        input {
                            flex: 1;
                            height: 4.1rem;
                            border-radius: 0.4rem;
                            border: 1px solid var(--gray-400);
                            color: var(--black);
                            font-size: 1.4rem;
                            padding: 1rem 1.2rem;
                            transition: all .3s ease;
                            font-family: var(--font-title);
                            font-weight: 400;
                            outline: none;
                            &::placeholder {
                                color: rgb(151, 155, 166, .5);
                                font-weight: 400;
                            }
                              &:focus {
                                border: 1px solid var(--purple-800);
                            }
                            &:nth-child(2) {
                                margin-left: 0.8rem;
                            }
                        }
                    }
                    .ad {
                        font-size: 1.4rem;
                        color: var(--gray-700);
                    }
                }
                button {
                    padding: 12px 1rem;
                    font-size: 1.4rem;
                    background-color: var(--purple-700);
                    border-radius: 0.4rem;
                    color: var(--white);
                    max-width: 180px;
                    min-width: auto;
                }
            }
        }
    }
}