.search {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 28rem;
    height: 3.6rem;
    input {
      flex: 1;
      height: 100%;
      background-color: transparent;
      border: 1px solid var(--purple-500);
      border-radius: 0.4rem 0 0 0.4rem;
      padding: 0 1.6rem;
      color: #fff;
      font-family: var(--font-title);
      transition: border 0.3s ease;
      &::placeholder {
        color: rgb(92, 95, 105, 0.5);
      }
      &:focus {
        border: 1px solid var(--purple-800);
      }
    }
    button {
      width: 3.6rem;
      height: 3.6rem;
      background-color: var(--purple-500);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      margin-left: -5px;
      transition: filter 0.3s ease;
      &:hover {
        filter: brightness(0.8);
      }
    }
  }

  .card-post-lg {
    display: block;
    width: 100%;
    max-width: 72.8rem;
    &:hover {
      .image {
        img {
          transform: scale(1.05);
        }
      }
      .info {
        h3 {
          color: var(--pink);
        }
      }
    }
    .image {
      width: 100%;
      height: 32rem;
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 3.5rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
      }
    }
    .info {
      .top-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.6rem;
        ul {
          display: flex;
          align-items: center;
          list-style-type: none;
          li {
            position: relative;
            display: flex;
            align-items: center;
  
            &:not(:first-child) {
              margin-left: 4rem;
              &:after {
                content: "";
                width: 0.6rem;
                height: 0.6rem;
                background-color: var(--black);
                position: absolute;
                border-radius: 50%;
                left: -20px;
              }
            }
            span {
              font-weight: 400;
              font-size: 1.4rem;
              line-height: 150%;
              color: var(--gray-600);
              margin-left: 0.8rem;
            }
          }
        }
      }
      h3 {
        max-width: 95%;
        transition: color 0.3s ease;
      }
    }
    @media (max-width: 768px) {
      .image {
        height: 20rem;
        margin-bottom: 2rem;
      }
      .info {
        .top-info {
          justify-content: center;
          ul {
            display: none;
          }
        }
      }
    }
    @include responsive ('mobile') {
      .info {
        flex: 1;
      }
    }
  }


  .category {
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 105%;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: var(--purple-500)
}